{% extends 'quotes/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <span>all quotes per tag: <small class="author" itemprop="author">{{quote.author.fullname}}</small>
            <a href="/author/{{quote.author.id}}">{{tag}}</a>
        </span>
        {% for quote in quotes %}

        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
            <a href="/author/{{quote.author.id}}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag_ in quote.tags.all %}

                <a class="tag" href="/tag/{{tag_}}">{{tag_}}</a>
                {% endfor%}


            </div>
        </div>

        {% endfor %}
    <nav>
        <ul class="pager">

            <li class="previous">
                <a class="{% if not quotes.has_previous %} disable {% endif %}"
                        href="{% if quotes.has_previous %} {% url 'quotes:tag_info' quotes.previous_page_number %} {% else %} # {% endif %}">
                    <span aria-hidden="true">←</span> Previous
                </a>
            </li>


            <li class="next">
                <a class="{% if not quotes.has_next %} disable {% endif %}"
                        href="{% if quotes.has_next %} {% url 'quotes:tag_info' quotes.next_page_number %} {% else %} # {% endif %}">
                Next <span aria-hidden="true">→</span></a>
            </li>

        </ul>
    </nav>
    </div>

</div>

{% endblock %}

